@media (min-width: 1600px) {
  .layout {
    max-width: 1600px;
  }
  .layout__menu {
    padding: 5rem 9.5rem;
    font-size: 2.2rem;
  }
  .layout__banner {
    min-height: 85rem;
    margin: 0 9.5rem;
    padding-left: 20rem;
    padding-top: 25rem;
    padding-bottom: 30rem;
  }

  .services__service {
    padding: 7rem 5rem;
  }
}
@media (max-width: 1380px) {
  .layout__footer {
    padding: 5rem 10rem;
  }
}
@media (max-width: 1220px) {
  .layout {
    min-width: 990px;
  }

  .nav__item {
    margin: 0 2rem;
  }

  .banner__title {
    font-size: 6rem;
  }

  .services__service {
    padding: 4rem 1.5rem;
    border-radius: 3rem;
    margin-bottom: 2rem;
  }
  .news__list {
    display: flex;
    flex-direction: column;
  }

  .news__new:last-child {
    border-left: none;
    padding-left: 0;
  }

  .layout__contact {
    padding-top: 10rem;
    padding-bottom: 4rem;
  }
  .contact__thumb--laptop {
    position: absolute;
    bottom: 0;
    left: 7rem;
  }
  .fleft__subtitle {
    font-size: 1.5rem;
  }
  .widget__title {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 2rem;
    margin-right: 1rem;
  }
  .widget__link {
    font-size: 1.4rem;
    padding: 0.8rem 0.2rem;
  }
}

@media (max-width: 1024px) {
  .layout {
    min-width: auto;
  }
  .layout__menu {
    padding-left: 4.5rem;
    padding-top: 2rem;
    padding-right: 5rem;
    padding-bottom: 2.5rem;
  }
  .navbar__nav {
    display: none;
  }
  .banner__title {
    font-size: 4.5rem;
  }
  .banner__content {
    width: 65%;
  }
  .banner__btn {
    padding: 2rem 3rem;
  }
  .shapes__item {
    width: 50%;
  }
  .services__subtitle,
  .projects__subtitle,
  .stats__subtitle,
  .reviews__subtitle,
  .clients__subtitle,
  .news__subtitle {
    font-size: 2rem;
  }

  .services__title,
  .projects__title,
  .stats__title,
  .reviews__title,
  .clients__title,
  .contact__title,
  .news__title,
  .fleft__title {
    font-size: 4.7rem;
    margin-bottom: 2.5rem;
  }

  .services__list {
    flex-direction: column;
  }
  .services__service {
    width: 85%;
    margin-bottom: 3rem;
    padding: 4rem 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .layout__projects {
    padding: 7rem 3.5rem;
  }
  .stats__description {
    font-size: 1.5rem;
    width: 50%;
  }
  .layout__reviews {
    position: relative;
    z-index: 1;
    padding: 6rem 5rem;
  }
  .reviews__container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 7rem;
  }
  .review__description {
    font-size: 1.7rem;
    line-height: 1.2;
    margin-bottom: 3rem;
    color: var(--color-bg-dark);
    margin-bottom: 3rem;
  }
  .clients__item {
    padding: 0rem 2rem;
  }
  .layout__clients {
    padding: 5rem 5rem;
  }
  .clients__description {
    font-size: 1.5rem;
    width: 50%;
  }

  .contact__thumb--mobile {
    position: absolute;
    bottom: 0;
    right: 0rem;
  }
  .contact__img {
    width: 88%;
  }
  .footer__main {
    display: flex;
    flex-direction: column;
  }
  .fleft__container {
    border-right: none;
    padding-right: 4rem;
    margin-right: 1rem;
    margin-bottom: 8rem;
  }
  .fleft__subtitle {
    font-size: 1.8rem;
  }
  .widget__title {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 2rem;
    margin-right: 1rem;
  }
  .widget__link {
    font-size: 1.7rem;
    padding: 0.8rem 0.2rem;
  }
}

@media (max-width: 950px) {
  .contact__thumb--laptop {
    position: absolute;
    bottom: 0;
    left: 4rem;
  }
  .contact__thumb--chat {
    margin-right: -18rem;
    margin-bottom: -0.8rem;
    width: 70%;
  }
}

@media (max-width: 768px) {
  .layout {
    max-width: 100%;
  }
  .projects__all {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4rem 4rem;
  }
  .projects__project {
    width: calc(90% - 4rem);
    margin: 0 auto;
  }
  .project__tags {
    font-size: 1.7rem;
  }
  .stats__progress {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin-top: 6rem;
    flex-wrap: wrap;
  }
  .stats__stat {
    width: calc(50% - 4rem);
    text-align: center;
    padding: 5rem 2rem;
    border-radius: 3rem;
  }
  .stats__description {
    font-size: 1.7rem;
    width: 80%;
  }
  .reviews__container {
    flex-direction: column;
  }
  .reviews__review {
    padding-top: 0rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    border-radius: 2rem;
  }

  .layout__clients {
    padding: 6rem 9rem;
  }
  .clients__logos {
    flex-wrap: wrap;
  }
  .clients__item {
    width: calc(50% - 3rem);
    padding: 3rem 2rem;
  }
  .clients__title {
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 3rem;
    width: 60%;
  }
  .clients__description {
    font-size: 1.8rem;
    width: 70%;
  }
  .layout__news {
    padding: 6rem 5rem;
  }
  .news__description {
    color: var(--color--text-description);
    text-align: center;
    font-size: 1.6rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 4rem;
  }
  .new__description {
    color: var(--color--text-description);
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
  }
  .new-shapes--shape4 {
    display: none;
  }
  .layout__contact::before {
    height: 47rem;
  }
  .contact__thumb--laptop {
    bottom: 0;
    left: 2rem;
  }
  .contact__thumb--mobile {
    position: absolute;
    bottom: 0;
    right: -7rem;
  }
  .contact__img {
    width: 70%;
  }
  .layout__footer {
    padding: 3rem 3rem;
  }
  .footer__bottom {
    flex-direction: column;
  }
  .footer__copyright {
    flex-basis: auto;
    margin-bottom: 1rem;
    text-align: center;
  }
  .footer__links {
    flex-basis: auto;
    text-align: center;
  }
  .footer__flinks {
    justify-content: center;
  }
}

@media (max-width: 668px) {
  .news__new {
    flex-direction: column;
  }
  .new__container-img {
    width: 100%;
  }
  .new__img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .layout__banner {
    margin: 0 3rem;
    padding: 8rem 3rem;
    min-height: 40rem;
  }
  .banner__title {
    font-size: 4rem;
  }
  .banner__btn {
    padding: 1.5rem 2.5rem;
    font-size: 1.5rem;
  }
  .layout__services {
    position: relative;
    z-index: 1;
    margin: 7rem 9rem;
    margin-bottom: 7.5rem;
  }
  .projects__categories {
    gap: 4.5rem;
  }
  .categories__item {
    font-size: 1.6rem;
  }
  .clients__title {
    width: 75%;
  }
  .clients__description {
    font-size: 1.4rem;
    width: 100%;
  }
  .contact__thumb--mobile {
    position: absolute;
    bottom: 0;
    right: -8rem;
  }
  .widget__title {
    font-size: 1.9rem;
  }
  .widget__link {
    font-size: 1.6rem;
    padding: 0.8rem 0.2rem;
  }
}

@media (max-width: 580px) {
  .layout__services {
    position: relative;
    z-index: 1;
    margin: 8rem 4rem;
    margin-bottom: 7.5rem;
  }
  .contact__img {
    width: 50%;
  }
  .contact__thumb--mobile {
    right: 2rem;
  }
  .layout__contact::before {
    height: 43rem;
  }
  .contact__thumb {
    margin-right: -18rem;
    margin-bottom: -1rem;
    width: 70%;
  }
}

@media (max-width: 400px) {
  .layout {
    min-width: auto;
  }
}
